@font-face {
	font-family: 'effra';
	src: url('../fonts/Effra_Std_He.eot');
	src: local('☺'), url('../fonts/Effra_Std_He.woff') format('woff'), url('../fonts/Effra_Std_He.ttf') format('truetype'), url('../fonts/Effra_Std_He.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

 body {
    padding-top: 70px;
  }

.container-full {
	margin: 0 auto;
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
}
.navbar-nav {
	width: 100% !important;
	max-width: 100%;
	margin-top: 30px;
}
.navbar {
  position: fixed;
  min-height: 200px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
ul.nav li {
	list-style-type: square;
	width: 33%;
}
ul.nav li a {
	font-family: 'effra';
	font-size: 30px;
	color: #fff !important;
}
.logo a {
	font-family: 'effra';
	font-size: 70px;
	color: #fff;
	margin-top: 10px;
	text-decoration: none;
}
.logo a span {
	color: #fcfc08;
}
.logo a span.tag {
	color: #5d93f3;
}